<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>org.onelibrarycompanion.networking</string>
  <key>ProgramArguments</key><array><string>/Library/PrivilegedHelperTools/org.onelibrarycompanion.networking</string></array>
  <key>Sockets</key><dict><key>Broker</key><dict>
    <key>SockFamily</key><string>Unix</string>
    <key>SockType</key><string>stream</string>
    <key>SockPathName</key><string>/var/run/org.onelibrarycompanion.networking.sock</string>
    <key>SockPathMode</key><integer>438</integer>
  </dict></dict>
  <key>ProcessType</key><string>Background</string>
  <key>Umask</key><integer>63</integer>
</dict></plist>
